<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>1007050056647-60i97sj396jgtuu62c4fjgfje3v705qd.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.1007050056647-60i97sj396jgtuu62c4fjgfje3v705qd</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>1007050056647-lfp3hrqctq08rdkep23m4eqoo2polpqh.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyC6ahLW1z6x6LSsT-0NNuIYFBBkpTzSch8</string>
    <key>GCM_SENDER_ID</key>
    <string>1007050056647</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.Jeran</string>
    <key>PROJECT_ID</key>
    <string>jeeran-46fcb</string>
    <key>STORAGE_BUCKET</key>
    <string>jeeran-46fcb.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:1007050056647:ios:bd5248b279e61407fcafe2</string>
    <key>DATABASE_URL</key>
    <string>https://jeeran-46fcb-default-rtdb.firebaseio.com</string>
</dict>
</plist>
